<input
  [type]="type"
  [placeholder]="placeholder"
  [value]="value"
  [disabled]="disabled"
  (input)="onInputChange($event)"
  (blur)="onTouched()"
  [class.is-invalid]="ngControl.invalid && ngControl.touched"
  class="form-input"
  [appCustomDirective]="restrictions"
/>


<div *ngIf="ngControl.invalid && ngControl.touched" class="text-danger">

  <span *ngIf="ngControl.errors?.['required']">
    Required
  </span>

  <span *ngIf="ngControl.errors?.['email']">
    Incorrect format
  </span>
  
  <span *ngIf="ngControl.errors?.['minlength']">
    You must write a minimum of {{ ngControl.errors?.['minlength'].requiredLength }} characters.
  </span>

</div>