<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer mode="over" class="sidenav">
    <mat-nav-list>
      <button
        mat-list-item
        [ngClass]="{ selected: selected === 'home' }"
        (click)="setSelected('home')"
      >
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button
        mat-list-item
        [ngClass]="{ selected: selected === 'mood' }"
        (click)="setSelected('mood')"
      >
        <mat-icon>music_note</mat-icon>
        <span>Mood</span>
      </button>

      <button
        mat-list-item
        [ngClass]="{ selected: selected === 'profile' }"
        (click)="setSelected('profile')"
      >
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>

      <button
        mat-list-item
        [ngClass]="{ selected: selected === 'settings' }"
        (click)="setSelected('settings')"
      >
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>

      <button
        mat-list-item
        [ngClass]="{ selected: selected === 'contact' }"
        (click)="setSelected('contact')"
      >
        <mat-icon>feedback</mat-icon>
        <span>Give feedback</span>
      </button>

      <button
        mat-list-item
        [ngClass]="{ selected: selected === 'stats' }"
        (click)="setSelected('stats')"
      >
        <mat-icon>graphic_eq</mat-icon>
        <span>Music Stats</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [class.blur-content]="drawer.opened">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      
      🎵 Music Mood Logger
    </mat-toolbar>

    <div class="content">
      <app-mood-logger *ngIf="selected === 'mood'"></app-mood-logger>
      <app-home *ngIf="selected === 'home'"></app-home>
      <app-profile *ngIf="selected === 'profile'"></app-profile>
      <app-settings *ngIf="selected === 'settings'"></app-settings>
      <app-music-stats *ngIf="selected === 'stats'"></app-music-stats>

      <div *ngIf="selected === 'contact'"  [formGroup]="form" style="
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            ">
        <div *ngIf="selected === 'contact'" style="
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            box-shadow: 4px 4px 4px #ccc;
            width: 400px;
            height: 500px;
            border-radius: 10px;
            padding: 20px;
            gap: 15px;
            ">
          <!-- <app-custom-input *ngIf="selected === 'contact'" 
                            placeholder="Enter your name" 
                            type="text" 
                            formControlName="name"
                            >
          </app-custom-input> -->

          <app-custom-input *ngIf="selected === 'contact'" 
            formControlName="name"
            [customConfig]="inputConfig['name']"
          >
          </app-custom-input>

          <!-- <div class="text-danger" *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)">
            <span>Required</span>
          </div> -->
          <!-- <app-custom-input *ngIf="selected === 'contact'" 
                            placeholder="Enter your email address" 
                            type="email" 
                            formControlName="email"
                            >
          </app-custom-input> -->

          <app-custom-input *ngIf="selected === 'contact'" 
            formControlName="email"
            [customConfig]="inputConfig['email']"
          >
          </app-custom-input>

          <!-- <div class="text-danger" *ngIf="form.get('email')?.errors?.['email'] && form.get('email')?.touched">
            <span>Wrong email format</span>
          </div> -->
          <!-- <app-custom-input *ngIf="selected === 'contact'" 
                            placeholder="Write your feedback..." 
                            type="textarea" 
                            formControlName="feedback"
                            >
          </app-custom-input> -->

          <app-custom-input *ngIf="selected === 'contact'" 
            formControlName="feedback"
            [customConfig]="inputConfig['feedback']"
          >
          </app-custom-input>

          <!-- <div class="text-danger" *ngIf="form.get('feedback')?.errors?.['minlength'] && form.get('feedback')?.touched">
            <span>Minimum number of characters is 5</span>
          </div> -->
          <button class="btn btn-primary" [disabled]="form.invalid" type="button" >Submit feedback</button>
        </div> 
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
